*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 }
 body{
 background:url("../fotos/fondob.jpg");
 background-repeat:repeat;
 font-family: 'Roboto', sans-serif;/*codigo css de google fonts*/
 }
 .principal{
 width:80%;
 margin:0 auto;
 background:#ffffff;
 }

 header{
 width:100%;
 height:450px;
 background:url("../fotos/rr.jpg");
 background-size: cover;
 background-position: center center;
 }

 header menu{

 background:rgba(255, 219, 249,.80);/* transparencia */
 padding:20px 10px;
 }

 menu .contenedor{
 width:90%;
 margin:0 auto;
 display:flex;
 justify-content:space-between;
 align-items:center;
 }

 menu .contenedor .logo{
 font-family: 'Dancing Script', cursive;/*codigo css de google fonts*/
 font-size:25px;
 color:black;
 }

 menu .contenedor nav a{
 color:black;
 text-decoration: none;
 font-size:18px;
 display:inline-block;
 padding:12px 14px;
 margin: 0 5px;
 }
 /* resalta el menú al colocar el mouse sobre el */
 menu .contenedor nav a:hover{
 text-decoration:underline;
 color:white;
 }
 /* caja redonda para foto perfil */
 main .perfil{
 width:150px;
 height:150px;
 background:white;
 border: 6px solid black;
 border-radius:50%;
 margin-top:-95px;
 margin-bottom:10px;
 margin-left: auto;
 margin-right:auto;
 }
 /* agregar la foto de perfil */
 main .perfil img {
 width:100%;
 border-radius:50%;
 }

 main .contenido{
 background:#ffffff;
 font-size:18px;
 font-style:italic;
 margin-bottom:15px;
 text-align:justify;
 }

 main .contenido h1{
 font-size:35px;
 margin:10px 0;
 padding: 0 50px;
 }
 main .contenido p{
 padding:25px;
 }
 .padre{
 width:85%;
 background:black;
 border:10px purple #c2f0ff;
 margin:20px auto;
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 flex-wrap:wrap;
 padding:25px;
 }
 .hijo{
 width:250px;
 height:350px;
 background:white;
 border:2px dotted purple;
 margin:20px;
 padding:20px;
 text-align:center;
 }
 .padre .hijo img{
 width:100%;
 height:90%;
 }

 .padre .hijo:hover{
 -webkit-transform:scale(1.2);
 transform:scale(1.2);/* zoom */
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Sombra suave */
 }

 footer{
 background:black;
 color:#ffffff;
 text-align:center;
 margin-top:15px;
padding:25px;
 }

 footer .negritas{
 font-weight:bold;
 text-align:left;
 padding:20px;
 }